<!DOCTYPE html>
<html>
<head>
    <title>Predict Diabetes</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="dashboard-body">

<div class="dashboard-container">

    <h1>🧪 Diabetes Prediction</h1>

    <form action="/predict" method="POST">

        <input type="number" name="glucose" placeholder="Glucose Level" required>

        <input type="number" name="bmi" placeholder="BMI" required>

        <input type="number" name="age" placeholder="Age" required>

        <button type="submit" class="btn">Predict</button>

    </form>

    <br>

    <a href="/dashboard" class="btn">⬅ Back</a>

</div>

</body>
</html>