<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="dashboard-body">

<div class="result-box">

    <h2>Prediction Result</h2>

    <h1><%= result %></h1>

    <a href="/dashboard/predict" class="btn">Try Again</a>

</div>

</body>
</html>